@model List<CoursesList>


<div class="AddCourseToStudentDiv">
    <form method="post" id="formAddCourse">

        <select id="courseId" class="custom-select">
            @foreach (var course in Model)
            {
                <option value="@course.CourseId"> @course.CourseName </option>
            }
        </select>

        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <input class="btn btn-primary" type="button" id="btnSave" value="Save" />

    </form>

</div>

<script src="~/js/site.js"></script>