@model List<StudentsInfo>



<div id="PlaceHolderHere"></div>
<div class="container">
    <div class="bg-white rounded shadow p-4">
            @foreach (var student in Model)
            {
                <h1 class="custom-control-inline mb-3">student name: @student.Name </h1>
                <button name="studentId"
                        data-toggle="modal"
                        data-target="#form-modal"
                        class="btn bg-dark text-white float-end rounded-pill mb-1 custom-control-inline" style="float:right"
                        onclick="ShowInPopup('@Url.Action("AddNewCourseToStudentView","students")', 'add course')">
                    add course
                </button>
                <table class="table table-bordered p-3 table-striped table-hover">
                    <tr>
                        <th>Course Name</th>
                        <th>Teacher Name</th>
                    </tr>
                    @foreach (var courses in student.courseInfo)
                    {
                        <tr>
                            <td>@courses.CourseName</td>
                            <td>@courses.TeacherName</td>
                        </tr>
                    }
                </table>
            }


    </div>
</div>


<div class="modal" tabindex="-1" id="form-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title bg-dark text-light"> Add new Course to the Student</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">


            </div>
        </div>
    </div>
</div>


<script>
    
</script>